<%= render partial: "layouts/header" %>
<div class="backdrop">
  <div id="main"></div>
</div>
<script>
	TrelloClone.CURRENT_USER = { 
		email: '<%= current_user.try(:email)  %>'
	};
	$(TrelloClone.initialize);
</script>


