/* New Session and New Sign Up Pages */

body {
	width: 100vw;
	height: 100vh;
	background-image: url(image-path('bg.jpeg'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.manual-login {
	display: none;
}

.log-in {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	width: 40vw;
	padding: 2vw;
	border-radius: 2vw;
	background-color: #fff;
	font-size: 3vh;
}

.log-in button {
	margin-bottom: 1vh;
}

.logo {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translate(-50%, -200%);
	transform: translate(-50%, -100%);
	text-align: center;
	color: #FFF;
	font-size: 5vh;
	font-family: 'Pacifico';
}