<div class="block-page">
</div>

<div class="card-modal">
	<div class='cancel-card-show'><i class="fa fa-times"></i></div>
	
	<div class='title-card-show'>
		<div class='row'>
		<div class='col-xs-1'><i class="fa fa-chevron-circle-right"></i></div>
		<div class='col-xs-10'><%= card.escape('title') %></div>
		</div>
	</div>

	<div class='description-card-show'>
		<div class='row'>
		<div class='col-xs-1'></div>
		<div class='col-xs-10'><div class='edit-description'></div></div>
		</div>
	</div>

	<div class='checklist-header'>
		<div class='row'>
		<div class='col-xs-1'><i class="fa fa-list-ul"></i></div>
		<div class='col-xs-10'>Checklist</div>
		</div>
	</div>

	<div class='checklist'>
		<div class='row'>
			<div class='col-xs-1'></div>
			<div class='col-xs-10 item-list'>
			</div>
		</div>
	</div>

</div>