<div class='row'>
<div class='col-xs-1'>
	<div class='square'>
		<% if (item.get('done')) { %>
			<i class="fa fa-check"></i>
		<% } %>
	</div>
</div>
<div class='col-xs-10 item-title'><%= item.escape('title') %></div>
</div>