<form class="new-item-form">
	<div class="form-group-small">
		<input type="text" name="item[title]" class="form-control"  
					placeholder="Add an item...">
	</div>

	<div class="form-group-small">
		<button type="submit" class="btn btn-success">Save</button>
		<button class="btn btn-danger cancel-item">X</btn>
	</div>
</form>
